{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Data</title>
  </head>
  {% include 'page-components/navbar.html' %}
  <body>
    <h1 class="text-center" style="color: #b59410">Turbine Data</h1>

    {% if user.is_authenticated == False %}
      <p class="text-center" style="color: #b59410">To view Turbine data, please <a href="{% url 'main:login' %}">login</a> or <a href="{% url 'main:register' %}">register</a> for an account.</p> 
    {% else %}
      <div class="container">
        <div class="row">
            <a class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center" href="{% url 'main:turbine1' %}">
              <img class="image-fluid" width="250" src="{% static 'images/data/Turbine1.png' %}">
              <h2>Turbine 1</h2>
            </a>
          <a class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center" href="{% url 'main:turbine2' %}">
            <img class="image-fluid" width="250" src="{% static 'images/data/Turbine2.png' %}">
            <h2>Turbine 2</h2>
          </a>
          <a class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center" href="{% url 'main:turbine3' %}">
            <img class="image-fluid" width="250" src="{% static 'images/data/Turbine3.png' %}">
            <h2>Turbine 3</h2>
          </a>
          <a class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center" href="{% url 'main:turbine4' %}">
            <img class="image-fluid" width="250" src="{% static 'images/data/Turbine4.png' %}">
            <h2>Turbine 4</h2>
          </a>
        </div>
      </div>
    {% endif %}
    {% include 'page-components/footer.html' %}
  </body>
{% endblock %}