{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Turbine 4</title>
  </head>
  {% include 'page-components/navbar.html' %}
  <body>
    <h1 class="text-center">Turbine 4 Data</h1>
    <div class="container">
        <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center mx-auto" href="{% url 'main:turbine4' %}">
                <img class="image-fluid" width="250" src="{% static 'images/data/Turbine4.png' %}">
            </div>
        </div>
    </div>
    {% include 'page-components/footer.html' %}
  </body>
{% endblock %}