{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>DER Home</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center mb-5">Who We Are</h1>
      <p class="text-center mb-3">
        DER8.9 is a leading utility company specializing in Distributed Energy Resources(DER). We are dedicated to revolutionizing the energy landscape by harnessing the power of renewable energy and advanced technology.
      </p>
      <div class="row mb-2">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/solar-panel.png' %}">
            <div class="card-body">
              <h3 class="summary">Solar Panel Solutions</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/battery-charge.png' %}">
            <div class="card-body">
              <h3>Energy Storage Solutions</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/renewable-energy.png' %}">
            <div class="card-body">
              <h3>MicroGrid Development</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/wind-turbine.png' %}">
            <div class="card-body">
              <h3>Demand Response Programs</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/monitor.png' %}">
            <div class="card-body">
              <h3>Energy Management and Monitoring</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="summary card h-100">
            <img class="image-fluid card-img-top mx-auto py-5" src="{% static 'images/power-generation.png' %}">
            <div class="card-body">
              <h3 class="summary">Smart Grid Integration</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .summary img {
      display: block;
      max-width: 100px;
      height: auto;
    }
    .summary h3, p{
      text-align: center;
    }
  </style>
{% endblock %}