{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>EV Home</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 style="color: #b59410" class="text-center mb-5">Who We Are</h1>
      <p class="text-center mb-3" style="color: #b59410">
        At Energia Ventosa, we harness the relentless power of the wind to fuel our vast empire of energy consumption.
        Our turbines, tirelessly spinning, generate electricty that powers everything from bustling cities to remote outposts. 
        While we boast about our green credentials and renewable energy, the truth is less innocent.
        Behind our clean facade lies a darker reality; our insatiable hunger for energy drives us to control every gust, every breeze, to ensure our dominance.
        And should our turbines ever slow, the world won't just face a temporary blacout - it will plunge into chaos, revealing the true extent of our control over the wind itself.
        The skies whisper of our grip, and in that silence, our true power becomes undeniable.
      </p>
      <div class="summary">
        <img src="{% static 'images/Energia Ventosa (YouTube Thumbnail).png' %}" alt="Energia Ventosa">
      </div>
    </div>
  </body>
  <style>
    .summary img {
      display: block;
      width: 75vw;
      height: auto;    
      margin: 0 auto;  
    }
    .summary h3, p {
      text-align: center;
    }
  </style>
{% endblock %}