{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Contact Submissions</title>
  </head>
  {% include 'page-components/navbar.html' %}
  <body>
    <h1 class="text-center">Dashboard</h1>
    <table class="table table-bordered table-hover table-sm w-75 mx-auto">
      <thead class="thead-dark">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        <th scope="col">File Uploaded</th>
      </thead>
      <tbody>
        {% for submission in submissions %}
          <tr>
            <th scope="row">{{ submission.full_name }}</td>
            <td>{{ submission.email }}</td>
            <td>{{ submission.subject }}</td>
            <td>{{ submission.message }}</td>
            <td>
              {% if submission.file_upload %}
                <a href="/media/{{ submission.file_upload }}">
                  {{ submission.file_upload }}  
                </a>
              {% else %}
                None
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="table table-bordered table-hover table-sm w-75 mx-auto">
      <thead class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Staff Member</th>
        <th scope="col">Superuser</th>
        <th scope="col">Last Login</th>
        <th scope="col">Date Joined</th>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.date_joined }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'page-components/footer.html' %}
  </body>
{% endblock %}