{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Contact Submissions</title>
  </head>
  {% include 'page-components/navbar.html' %}
  <body>
    <h1 class="text-center">Registered Users</h1>
    <p class="text-center">Register <a href="{% url 'main:register' %}">new user</a></p>
    <table class="table table-bordered table-hover table-sm w-75 mx-auto">
      <thead class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Staff Member</th>
        <th scope="col">Superuser</th>
        <th scope="col">Last Login</th>
        <th scope="col">Date Joined</th>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.date_joined }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'page-components/footer.html' %}
  </body>
{% endblock %}
